{% extends "base.html" %}

{% block content %}

    <div class="container whitepage rounded pagecontent">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4 class="text-center pt-3">{{ _('User Admin') }}</h4><!-- frm....Text -->
                <br/><br/><br/>
                <center><b>{{ _('You must have an administrator account in order to manage users') }}</b></center>
                <br/><br/><br/><br/>
              </div>
            </div>
    </div>

{% endblock %}
